$space-1: 0.5rem;
$space-2: $space-1 * 2;
$font-size: $space-1;
$font-button-size: $space-2;
$font-title-size: $space-1 * 3;
$primary-color: green;
$button-color: yellowgreen;
$card-width: 350px;
$image-height: 200px;
