$font-color: white;
$font-family: "Helvetica";
$font-size-title: 1.5rem;
$primary-color: DarkCyan;
$secondary-color: DarkSlateGrey;
$background-color: black;
$breakpoint-small: 768px;
$space-1: 1rem;
$app-height: 500px;
