@import "blue.theme.scss";
// @import "red.theme.scss";

body {
  font-family: cursive;
  font-size: 20px;
}
.box {
  border: 1px solid black;
  border-radius: $border-radious;
  width: 100px;
  padding: 20px 20px 40px;

  background-color: $primary-color;

  &-important {
    background-color: darken($primary-color, 30%);
  }

  &-warning {
    background-color: lighten($primary-color, 30%);
  }

  &-shadow {
    background-color: white;
    border: 2px solid black;
    @include boxShadow();
  }
}
.font {
  &-principal {
    font-family: $principal-font;
  }

  &-secondary {
    font-family: $secondary-font;
  }
}
